/* TEMPLATE SASS
*********************************************/
html {
  overflow-y: scroll; }

body {
  background-color: #4d926f; }

/* LAYOUT
*********************************************/
/* Floats */
.float-left {
  float: left; }

.float-right {
  float: right; }

.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.ie7 .group {
  zoom: 1; }

/* Media Queries
*********************************************/
/* Retina */
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
